.error
  %h1
    Our team of highly trained monkeys are hard at work generating metrics for this project as we speak
  %dl
    %dt But when is it ready?
    %dd
      We're working as fast as we can. This shouldn't take more than a few minutes at most. If it lasts much longer than that, you might wanna look into it. Most likely, there's no reason to worry.

    %dt What can I do?
    %dd
      I would try waiting.