.error
  %h1
    Ehm, this is weird. I found the project, but there doesn't seem to be any kind
    of metrics generated for it.
  %dl
    %dt Ouch. That can't be good?
    %dd
      Well, it might be that this project is so new that it hasn't been generated yet.
      Or maybe the hooks aren't configured correctly. Lots of things.

    %dt What can I do?
    %dd
      I would try waiting, and see if
      %strong report_card
      is working on generating metrics as we speak.

      If not, check to see if the hooks are set up right.